
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_LayoutPageNhaHang.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Crispy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- css files -->
    <link href="~/Theme/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/css/css_slider.css" rel="stylesheet" />
    <link href="~/Theme/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Theme/css/style.css" rel="stylesheet" />
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>
    <!-- banner -->
    <div class="innerpage-banner" id="home">
        <div class="inner-page-layer">
        </div>
    </div>
    <!-- //banner -->
    <!-- contact -->
    <section class="mail pt-lg-5 pt-4">
        <div class="container pt-lg-5">
            <h2 class="heading text-center mb-sm-5 mb-4">Contact Us </h2>
            <div class="row agileinfo_mail_grids">
                <div class="col-lg-8 agileinfo_mail_grid_right">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-6 wthree_contact_left_grid pr-md-0">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Name" required="">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email" required="">
                                </div>
                            </div>
                            <div class="col-md-6 wthree_contact_left_grid">
                                <div class="form-group">
                                    <input type="text" name="phone number" class="form-control" placeholder="Phone Number" required="">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Subject" required="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="message" placeholder="Message" class="form-control" required=""></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="submit-buttons">
                                    <button type="submit" class="btn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 contact-info">
                    <h4 class="mb-4">Address Information</h4>
                    <p><span class="fa mr-2 fa-map-marker"></span>64 Nguyễn Chí Thanh<span>Hà Nội, HN.</span></p>
                    <p class="phone py-2"><span class="fa mr-2 fa-phone"></span>Phone : 0974580133 </p>
                    <p><span class="fa mr-2 fa-envelope"></span>Email : <a href="mailto:info@example.com">quyenquy053@gmail.com</a></p>

                    <h4 class="my-4">Book Your Table</h4>
                    <p class="phone"><span class="fa mr-2 fa-phone"></span>Call us at 0974580133 </p>
                </div>
            </div>
        </div>
        <div class="map mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2214.483479479825!2d105.80644532763488!3d21.02058133960491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab67aeca0785%3A0x408edfa7f514386a!2zNjQgxJAuIE5ndXnhu4VuIENow60gVGhhbmgsIEzDoW5nIFRoxrDhu6NuZywgxJDhu5FuZyDEkGEsIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1713104780972!5m2!1svi!2s"
                    style="border:0"></iframe>

        </div>
    </section>
    <!-- //contact -->
</body>